<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
      <%= render 'static_pages/logged_in_render' %>
  </div>
<% else %>
  <%= render 'static_pages/logged_out_render' %>
<% end %>
